.App {
  text-align: center;
}
#heading{
  background-color: #333;
  width: 100%;
  padding: 7rem;
  color: white;
  font-size: 4rem;

}

#nav{
  text-align: end;
}

#count{
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color:black;
  color: white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.col{
  margin: 0.5rem 0;
}

.card{
  padding: 0 0.5rem;
}

s{
  color: red;
}